
:root {
  --color-bg: #69F7BE;
  --color-text-main: #000000;
  --color-primary: #FFFF00;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";

  --pr-color-1: rgba(209, 152, 176, 1);
  --pr-color-2: rgba(30, 66, 124, 1);
  --pr-color-3: rgba(240, 195, 108, 1);
  --pr-color-4: rgba(48, 82, 72, 1);
  --sn-color-1: rgba(126, 51, 56, 1);
  --sn-color-2: rgba(117, 200, 147, 1);
  --sn-color-3: rgba(224, 142, 108, 1);
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

html, body, .wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
}

body {
  font-family: Verdana;
  position: relative;
  background-color: var(--pr-color-1);
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.debug {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  z-index: 1;
  opacity: 0.3;
}

/* bio */
.info {
  display: none;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info p {
  width: 90%;
  max-width: 700px;
  margin: 1rem;
  font-size: 0.9rem;
  color: white;
  line-height: 2.0rem;
}

#contact p {
  text-align: center;
}



/* navbar */
#navbar {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar button {
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 1);
  margin: 2rem 4rem;
  font-size: 2rem;
  /* font-style: italic; */
  opacity: 0.8;
}

#navbar button:hover {
  opacity: 1.0;
}

#navbar button.active {
  opacity: 1.0;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer a {
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 1);
  margin: 2rem 1rem;
  font-size: 2rem;
  font-style: italic;
  opacity: 0.8;
}

.logo-img {
  width: 25px;
  height: 25px;
}

.footer a:hover {
  opacity: 1.0;
}

/* responsive */

@media (max-width: 800px) {
  #navbar {
    justify-content: space-between;
  }
  #navbar button {
    margin: 1rem 1rem;
    font-size: 1.3rem;
    opacity: 0.8;
  }

  .footer a {
    margin: 0.5rem 1.5rem;
  }

  .logo-img {
    width: 20px;
    height: 20px;
  }

  .info p {
    font-size: 1.2rem;
    margin: 1rem;
  }

  .debug {
    display: none;
  }
}
